{% extends "base.html" %}
{% block content %}


<div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="bi bi-person-circle"></i>  s;dkg;sdk;
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Log out</a></li>
    <li><a class="dropdown-item" href="#">Sing in</a></li>
  </ul>
</div>
<h1>Note list</h1>
<ul>
    {% for note in notes%}
    <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
    {% endfor %}
</ul> 
<a href="{% url 'create-post' %}">Add note</a>

{% endblock %}